<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .api_list li{
        margin-bottom: 15px;
    }
</style>
<body>
<div style="padding: 20px 10px 10px 30px;">
    <h2>[로그인]</h2>
    <ul class="api_list">
        <li><a href="/docs/login.html" target="_blank">로그인(P7)</a></li>
    </ul>

    <h2>[회원가입]</h2>
    <ul class="api_list">
        <li><a href="/docs/signUp.html" target="_blank">회원가입1 (P10 ~ P11)</a></li>
        <li><a href="/docs/signUpDetail.html" target="_blank">회원가입2 (P10 ~ P11)</a></li>
    </ul>

    <h2>[MAIN]</h2>
    <ul class="api_list">
        <li>[GET] <a href="/stores/list/123/123" target="_blank">/store/list/{현재 위치 X 좌표}/{현재 위치 Y 좌표}</a> : 메인 리스트 (P13) </li>
        <li><a href="/docs/users.html" target="_blank">내 정보(P14)</a></li>
    </ul>

    <h2>[리뷰 등록]</h2>
    <ul class="api_list">
        <li>[POST] <a href="/stores/reviews/1/13/1/0" target="_blank">/stores/reviews/{유저idx}/{매장idx}/{메뉴idx}/{리뷰idx}</a> : 리뷰 등록 (P32) </li>
    </ul>

    <h2>[알림]</h2>
    <ul class="api_list">
        <li>[POST] <a href="/users/lunchAlarm/1" target="_blank">/users/lunchAlarm/{유저idx}</a> : 점심 알림 (P34) </li>
        <li>[POST] <a href="/users/dinnerAlarm/1" target="_blank">/users/dinnerAlarm/{유저idx}</a> : 저녁 알림 (P34) </li>
        <li>[POST] <a href="/users/eventAlarm/1" target="_blank">/users/eventAlarm/{유저idx}</a> : 이벤트 알림 (P34) </li>
        <li>[POST] <a href="/users/serviceAlarm/1" target="_blank">/users/serviceAlarm/{유저idx}</a> : 서비스 알림 (P34) </li>
    </ul>

    <h2>[내 정보]</h2>
    <ul class="api_list">
        <li><a href="/docs/users.html" target="_blank">내 정보(P14)</a></li>
        <li>[GET] <a href="/users/secession/manual" target="_blank">/users/secession/{유저idx}</a> : 회원 탈퇴 (P39) </li>
        <li>[POST] <a href="/users/secession/1" target="_blank">/users/secession/{유저idx}</a> : 회원 탈퇴 (P39) </li>
    </ul>

    <h2>[공지사항]</h2>
    <ul class="api_list">
        <li>[GET] <a href="/notices/1" target="_blank">/notices/{페이지번호}</a> : 공지사항 리스트 (P50)</li>
    </ul>

    <h2>[FAQ]</h2>
    <ul class="api_list">
        <li>[GET] <a href="/faqs/1" target="_blank">/faqs/{페이지번호}</a> : 자주묻는질문 리스트 (P54)</li>
    </ul>

    <h2>[1:1 문의]</h2>
    <ul class="api_list">
        <li>[GET] <a href="/questions/1" target="_blank">/questions/{유저idx}</a> : 1:1 문의 리스트(자기껏만) (P56)</li>
        <li>[GET] <a href="/questions/1/8" target="_blank">/questions/{유저idx}/{질문Idx}</a> : 질문 상세 (P58)</li>
        <li>[GET] <a href="/questions/form/1" target="_blank">/questions/form/{유저idx}</a> : 1:1 문의 작성 (P57)</li>
        <li>[POST] <a href="/questions/save/manual" target="_blank">/questions/form/{유저idx}</a> : 1:1 문의 작성 저장(P57)</li>
    </ul>


    <div style="white-space: pre-line;">
        TODO LIST
        1. 세션 체크 할것
        2. 암호화 할것
        3. response 변수 result -> data로 한번 싹 정리 할 것
            * 예외 사유도 ㅋㅋ 변경할것
        4. Optinal 리턴 형태로 변경 NULL 처리 변경
    </div>
</div>
</body>
</html>